body{
    font-family: sans-serif;
    color: rgb(45, 45, 45);
    text-shadow: 2px 2px 5px white;    
}

.title{
    font-weight: bold;
    font-size: 36px;
    text-align: center;    
}

#gameboard-header{
    border-bottom: solid black 2px;
    font-size: 21px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
}

#timer{
    text-align: left;
    padding-right: 30%;
}

#minecount{
    text-align: right;
    padding-left: 30%;
}

#gameboard{
    position: relative;
    margin: 0 auto;
    border: solid black 2px;
}

#gameboard div{
    text-align: center;
    padding-left: 1px;
}

#gameboard span img{
    width: 24px;
    height: auto;
    z-index: -1;
}

#blanket{
    display: none;
    vertical-align: middle;
    position: absolute;
    top: 33px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

#blanket-text{
    font-size: 40px;
    height: 100%;
    -webkit-transform: translate(0%, 40%);  
    transform: translate(0%, 40%);
    opacity: 1;
}

#menu{
    position: absolute;
    top: 33px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
}

#menu-content{
    font-size: 30px;
    height: 100%;
}

#menu-content table{
	border-top: solid black 2px;
	margin: 0 auto;
	font-weight: bold;
	text-align: center;
}

#menu-content input{
    width: 80px;
}

#menu-content button{
	border-radius: 8px;
	font-weight: bold;
	width: 120px;
	height: 30px;
}

#endgame-replay{
	border-radius: 8px;
	font-weight: bold;
	width: 120px;
	height: 30px;
}